html,
body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}
.container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 15px;
}
main {
    flex-grow: 1;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
 font-weight: 700;
}
.title {
    font-size: 36px;
    @extend %dmsans-700;
    color: #191919;
}
.cls-1 {
    fill: #243f4d;
    fill-rule: evenodd;
  }
.breadcrumbs {
    margin-top: 10px;
    &__list {
        display: flex;
    }
    &__item {
        color: #83898f;
        font-size: 14px;
        @extend %rubik-400;
    }
    &__item+.breadcrumbs__item {
        margin-left: 8px;
    }
    &__item span {
        margin-left: 5px;
    }
   
}